
*.asv

*.aux

*.auxlock

*.gz

*.out

*.log

*.blg

*.bib.bak

*.bib.sav

Paper/nips_2018\.pdf

*.bbl

*.dep

*.md5

*.dpth

Paper/fig/LyapDecrTe_min\.pdf

Paper/fig/LyapDecrTe_max\.pdf

Paper/fig/vartraj\.pdf

Paper/fig/error\.pdf
